body {
  background-color: #eee;
}
.buttons {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.console {
  background-color: #ddd;
  height: 8em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.2em;
  padding: 0.2em;
  font-size: 1em;
}

.container2 {
  border: solid 1px black;
  width: 500px;
  min-width: 500px;
  max-width: 500px;
  height: 500px;
  margin: auto;
  padding: 0 0 0 0;
}
.side_panel {
  min-width: 200px;
  max-width: 400px;
  width: 400px;
}

canvas {
  top: 0;
  left: 0;
  padding: 0;
}

.bordered {
  border: solid 1px black;
}

.line {
  position: absolute;
  background-color: rgb(255, 0, 0);
  width: 1px;
  height: 1px;
  top: 0px;
  left: 0px;
}

.scene {
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.car {
  position: absolute;
  top: -8px;
  left: -4px;
  width: 8px;
  height: 16px;
  border-radius: 2px;
  background-color: #0066ff;
  will-change: transform;
}

.cell {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  will-change: transform;
  will-change: background-color;
}

.car.red {
  background-color: #ff3300;
}


